.sym{
    display: inline-block;
}

.Crypto-Ticker {
    text-align: center
}

.change{
 display: inline-block;
}

.marquee {
    background-color: #273954;
    color: white;
    font-size: 15px;
    padding: 10px
  }