.nav {
  text-align: left;
  padding: 15px
}

.coin-container {
  background-color: #273954;
  color: white;
}

.marquee {
  background-color: #273954;
  color: white;
  font-size: 15px;
  padding: 10px;
  font-weight: 400;
}